@font-face {
   font-family: 'Belleza';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/hp/OneDrive/Documents/Projects/Projects/Portfolio/fonts/Belleza/regular.ttf') format('truetype');
}
